<div id="bildog-jumbotron" class="jumbotron">
    <img class="jumbotron-icon" src="/images/bldg_ziele.png"/>
</div>

<div class="container">

    <div class="content">
        <div class="row">
            <div id="bildog-top-txt" class="col-md-12">
                <script type="text/javascript">
                    UI.loadContent('#bildog-top-txt', '/content/bildog/1-bildog-oben.txt');
                </script>
            </div>
        </div>
        <div class="row">
            <div id="bildog-left-txt" class="col-md-5">
                <script type="text/javascript">
                    UI.loadContent('#bildog-left-txt', '/content/bildog/2-bildog-links.txt');
                </script>
            </div>
            <div id="bildog-right-txt" class="col-md-5">
                <script type="text/javascript">
                    UI.loadContent('#bildog-right-txt', '/content/bildog/3-bildog-rechts.txt');
                </script>
            </div>
        </div>
    </div>

</div>