<div id="bildog-jumbotron" class="jumbotron">
</div>

<div class="container">

    <div class="row content">
        <div class="col-md-8">
            <div id="bildog-ohne-grenzen-txt" class="text-content">
                <script type="text/javascript">
                    UI.loadContent('#bildog-ohne-grenzen-txt', '/content/home/1-bildog-ohne-grenzen.txt');
                </script>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

<div id="other-jumbotron" class="jumbotron">
</div>

<div class="container">
    <div class="row content">
        <div class="col-md-8">
            <div id="mitmachen-txt" class="text-content">
                <script type="text/javascript">
                    UI.loadContent('#mitmachen-txt', '/content/home/3-mitmachen.txt');
                </script>
            </div>
        </div>
    </div>
</div>