<div id="bildog-jumbotron" class="jumbotron">
    <img class="jumbotron-icon" src="/images/jumbotron-icons/bldg_ziele.png"/>
</div>

<div class="container">
    <div class="content">
        <div class="row">
            <div id="oben" class="col-md-12"></div>
        </div>
        <div class="row">
            <br/>
        </div>
        <div class="row">
            <div id="links" class="col-md-5"></div>
            <div id="mitte" class="col-md-5"></div>
            <div id="rechts" class="col-md-2"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    UI.loadContent('/content/home.txt');
</script>